.global_container {
	
	width: 100%;
	height:200px;
	padding: 10px;
	font-family: var(--DM);

 }

 .darkMode {

	color: var(--white1);
	border-bottom: 1px solid var(--white1) ;
 }

 .lightMode {
	
	color: var(--dark0);
	border-bottom: 1px solid var(--dark0) ;
 }
